@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

html {
  box-sizing: border-box;
}
h2 {
  color: white;
}

p {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  background-color: #000000;
  color: #000000;
  overflow-x: hidden;
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.nav__logo {
  max-width: 150px;
}

#quoteWrapper {
  margin-top: 10rem;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#quoteWrapper :nth-child(2) {
  // transform: rotate(8deg);
  // transform-origin: right;
}
.quotecontainer {
  font-size: 5rem;
  white-space: nowrap;
  overflow: hidden;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top left;
  overflow: hidden;
  cursor: url("./assets/customCursor.svg"), auto;
}
.main-quote-container {
  margin: 5rem 0 13rem 0;
  .quotecontainer p {
    transition: all 300ms ease;
  }
  .quotecontainer.even {
    transform: rotate(348deg);
    z-index: 3;
    white-space: nowrap;
  }
  .quotecontainer.odd {
    transform: translate(36px, -100px) rotate(8deg);
    z-index: -1;
    position: relative;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.main-quote-container.container-1 {
  transform-origin: center;
  margin: 0 0 20rem 0;

  .even {
    transform: rotate(12deg);
    background-color: rgb(114, 200, 249);
    margin-top: -5rem;
    transform-origin: center;
  }
  .odd {
    transform-origin: left;
    transform: translate(-22px, 183px) rotate(354deg);
  }
}

.main-quote-container.container-1 {
  margin: 0 0 25rem 0;
}
